{% extends "base.html" %}

{% block content %}

{% load static %}
<!-- index.html content starts here -->

<!-- Callout -->
<div class="container-fluid callout-container">
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <img src="{% static 'images/doctor.jpeg' %}" class="img-fluid scale" alt="Doctor Image">
                <div class="callout-content">
                    <h1 class="jumbotron-header">Beauty treatments from a registered Doctor.</h1>
                    <hr class="block-divider">
                    <p class="lead"><strong>Start your beautification journey today!<br>Your first botox treatment is half-price! <s>£200</s> £100</strong></p>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- /.callout -->

<div class="container-fluid">
    <div class="row">

        <!-- Treatments Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for treatment in treatment_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    
                                </div>
                            </div>
                            <a href="{% url 'treatment_detail' treatment.slug %}" class="treatment-link">
                                <h2 class="card-title">{{ treatment.title }}</h2>
                                <p class="card-text">{{ treatment.excerpt }}</p>
                            </a>
                            
                            <hr />
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}