{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-3">
            <p><strong>Please note:</strong> it is our policy to have a brief video consultation 
                to answer any questions you may have and ensure to correct treatment for you. If you 
                are happy after the consultation, the treatment can be book in that same call</p>
            <h2 class="text-center mb-4">Select a time for your video call</h2>
            <form method="post" action="{% url 'book_appointment' %}" class="needs-validation" novalidate>
                {% csrf_token %}
                
                <p><strong>Username:</strong> {{ user }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name" required>
                </div>
                
                <div class="mb-3">
                    <label for="treatment" class="form-label">Treatment</label>
                    <select class="form-select" name="treatment" required>
                        {% for choice in treatments %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" name="date" required>
                </div>

                <div class="mb-3">
                    <label for="time_slot" class="form-label">Time Slot</label>
                    <p><small><em>We allow for 45 minutes but the call is usually 20-30 minites.</em></small></p>
                    <select class="form-select" name="time_slot" required>
                        {% for choice in time_slots %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>                

                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your phone number" required>
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary w-100">Book Appointment</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}